@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@800&display=swap');

.icon{
    width: 100px;
    height: 100px;
}

.info-oferta{
    justify-content: space-evenly;
}

.card-oferta{
    align-items: center;
    border-color: transparent;
    width: 370px !important;
    align-self: center;
}

.card-oferta-2{
    align-items: center;
    border-color: transparent;
    width: 450px !important;
    align-self: center;
}

.header-oferta{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
    color: #828282;
    display: flex;
    justify-content: center;
    font-weight: 300;
    margin-top: 10px;
    background-color: transparent;
    border-bottom: none !important;
}

.title-oferta{
    font-family:'Be Vietnam Pro', sans-serif;
    font-size: 30px;
    color: #283792;
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
}


.text-oferta{
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #828282;
    text-align: center;
}