.fondo {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
   
    z-index: 1;
    line-height: 0;
    display: block;
}

.image-size {
    width: 100% !important;
    z-index: -1;

}

.texto-slider {
    z-index: 2;
}

.notificationBar{
    background-color: #283792;
    color: white;
    padding: 0px !important;
    width: 100%;
    margin: 0px !important;
    box-shadow: inset;
}

.notificationText{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px !important;
    font-size: 14px;
   display: flex;
   justify-content: center;
}